body {
    margin: 30px;
}
h1 {
    font-family: helvetica, serif, arial;
}

.dataField {
    max-width: 600px;
    min-width: 200px;
    margin: 40px 0px 40px 0px;
}

.unfinished {
    background-color: #D4C7C7;
}

.completed {
    background-color: #928686;
}

#col1 {
    width: 300px;
}